body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-box-shadow {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

.MuiDrawer-paper {
  overflow-x: hidden !important;
}

main {
  margin-left: 0px !important;
}

div.MuiFormControl-root label.MuiFormLabel-root {
  background-color: white;
}

tbody.cases-table-body {
  tr {
    cursor: pointer;
  }
}