body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-box-shadow {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

.MuiDrawer-paper {
  overflow-x: hidden !important;
}

main {
  margin-left: 0px !important;
}

div.MuiFormControl-root label.MuiFormLabel-root {
  background-color: white;
}

tbody.cases-table-body {
  tr {
    cursor: pointer;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #f2f2f2; /* Slightly darker background for headers */
  font-weight: bold;
  text-align: left;
}

table tr:hover {
  background-color: #f9f9f9; /* Optional: Highlight row on hover */
}

h2.MuiDialogTitle-root {
  border: 1px solid #ddd;
}

div.MuiDialogActions-root {
  padding-right: 1.5em;
  padding-left: 1.5em;
}